<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>剪刀侠</title>
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--分享使用-->
    <meta itemprop="name" content="" />
    <meta itemprop="description" name="description" content="" />
    <meta itemprop="image" content="img_url" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="__TMPL__/Public/css/global.css">
    <link rel="stylesheet" href="__TMPL__/Public/css/my_css.6.21.css" />
    <link rel="stylesheet" type="text/css" href="__TMPL__/Public/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="__TMPL__/Public/css/style2.css" />
    <link rel="stylesheet" type="text/css" href="__TMPL__/Public/css/style.css" />
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <style>
        body{background-color: #222}
        .set_stars img{ margin: 0px 8px;position: relative;top:-2px}
        .textArea{
            padding: 10px;
            height: 200px;
            max-height: 200px;
            box-sizing: border-box;
            resize: none;
        }
    </style>
</head>
<body id="app" class="back-222">
    <div class="q-header q-header-color1">
        <a href="javascript:history.back();" class="q-pull-left"><i class="fa fa-angle-left"></i></a>
        <span class="q-title">评价</span>
    </div>
    <section class="ypj-sec bod-pad">
        <div class="pj-div">
            <div class="yy-div1-div2 bigdiv clearfix border-bottom">
                <div class="yy-head-img">
                    <img :src="order.headimgurl?order.headimgurl:'__TMPL__Public/img/slice/avatar.png'" />
                </div>
                <div class="yy-write">
                    <div class="yy-write-left">
                        <h3 class="color-yello">{{order.barber_name}}</h3>
                        <p>{{order.service_name}}</p>
                        <p><span>{{order.service_time}}</span></p>
                    </div>
                    <div class="yy-write-right">
                        <a :href="'tel:'+order.barber_tel"><img src="__TMPL__/Public/img/yy_phone.png"/></a>
                    </div>
                </div>
            </div>
            <div class="ypj-sec-div2 clearfix ">
                <div class="set_stars hgt60 l-h-60 text-center">
                    <input id="grade" type="hidden" v-model="comment.grade">
                </div>
            </div>
        </div>
        <div class="p_both10">
        	<textarea v-model="comment.content" placeholder="输入您的评价内容，200字以内" class="textArea wid100 back-111"></textarea>
        	
        </div>
        	<div class="look text-center m-t-35">
	     <a href="javascript:;" @click="commentSubmit" class="border-gold color-gold hgt35 l-h-35 p_both25 radius4 font16 inline_div button_active ">评价</a>
	</div>
        

    </section>
</body>
<script type="text/javascript" src="__TMPL__/Public/lib/con_js.6.23.js" ></script>
<script src="http://apps.bdimg.com/libs/vue/1.0.8/vue.min.js"></script>
<script src="__TMPL__Public/layer/layer.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: "#app",
        data: {
            order:{$order},
            comment:{
                orderId:null,
                barberId:null,
                grade:5,
                content:""
            }
        },
        methods: {
            commentSubmit: function () {
                var data = this.comment;
                data.orderId = this.order.order_id;
                data.barberId = this.order.barber_id;
                data.grade = $('#grade').val();
                if (data.grade <= 0 || data.grade > 5) {
                    layer.open({content:"评星等级为1-5星",time:2,shadeClose:false});
                    return;
                }
                if (data.content.length > 200) {
                    layer.open({content:"评价内容最多为200个字",time:2,shadeClose:false});
                    return;
                }
                var loadingIndex = 0;
                $.ajax({
                    url:"{:U('comment')}",
                    data:data,
                    type:"POST",
                    dataType:"json",
                    beforeSend: function () {
                        loadingIndex = layer.open({type:2,shadeClose:false});
                    },
                    success: function (res) {
                        layer.open({content:res.info,time:3,shadeClose:false});
                        if (res.status == 1) {
                            setTimeout(function () {
                                location.href = "{:U('Index/index')}";
                            },2000)
                        }
                    },
                    error: function () {
                        layer.open({content:"请求失败，请重试",time:3});
                    },
                    complete: function () {
                        layer.close(loadingIndex);
                    }
                })
            }
        }
    });
</script>
<script type="text/javascript">
	var img_url={filled:"__TMPL__/Public/img/pingjia1.png",empty:"__TMPL__/Public/img/pingjia2.png"};
	set_stars($(".set_stars"),img_url,5,25)
</script>
</html>