<admintpl file="header"/>
</head>
<body>
<div class="wrap" id="app">
    <ul class="nav nav-tabs">
        <li><a href="{:U('index')}">公告列表</a></li>
        <li><a href="{:U('add')}">添加公告</a></li>
        <li class="active"><a href="{:U('edit')}">编辑公告</a></li>
    </ul>
    <p style="color: #c7142c;">注：排序数字越大越靠前</p>
    <form method="post" class="form-horizontal js-ajax-form">
        <fieldset>
            <div class="control-group">
                <label class="control-label">标题</label>
                <div class="controls">
                    <input type="text" v-model="edit.title">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">排序</label>
                <div class="controls">
                    <input type="number" v-model="edit.sort">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">内容</label>
                <div class="controls">
                    <!-- 加载编辑器的容器 -->
                    <script id="container" type="text/plain"></script>
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <input type="button" @click="editData" class="btn btn-primary js-ajax-submit" value="确认编辑">
        </div>
    </form>
</div>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/vue.js"></script>
<!-- 配置文件 -->
<script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript">
    Wind.use("artDialog", function () {});
    var ue = UE.getEditor('container',{
        toolbars: [[
            'fullscreen', 'source', '|', 'undo', 'redo', '|',
            'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
            'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
            'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
            'directionalityltr', 'directionalityrtl', 'indent', '|',
            'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
            'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
            'simpleupload', 'insertimage', 'emotion', '|',
            'horizontal', 'date', 'time'
        ]],
        initialFrameWidth:700,
        initialFrameHeight:200
    });
    var app = new Vue({
        el: "#app",
        data: {
            edit: {title:'',content:''}
        },
        methods: {
            editData: function () {
                this.edit.content = ue.getContent();
                var edit = this.edit;
                var NumReg=/(^[1-9]+\d*$)|(^0$)/;
                if (edit.title == '') {
                    $.dialog({id: 'popup', lock: true,icon:"warning", content: '请填写标题', time: 2});
                    return;
                }
                if (!NumReg.test(edit.sort)) {
                    $.dialog({id: 'popup', lock: true,icon:"warning", content: '排序请输入大于或等于0的整数', time: 2});
                    return;
                }
                if (edit.content == '') {
                    $.dialog({id: 'popup', lock: true,icon:"warning", content: '请填写内容', time: 2});
                    return;
                }
                $.ajax({
                    url:"{:U('edit_post')}",
                    data:app.edit,
                    type:"POST",
                    dataType:"json",
                    success: function (res) {
                        $.dialog({id: 'popup', lock: true, content: res.info, time: 2});
                        if(res.status == 1){
                            setTimeout(function () {
                                location.href = "{:U('index')}";
                            },2000)
                        }
                    },
                    error: function () {
                        $.dialog({id: 'popup', lock: true,icon:"warning", content: '提交失败，请重试', time: 2});
                    }
                })
            }
        },
        created: function () {
            this.edit = {$info ? $info : "[]"};
            ue.ready(function() {
                ue.setContent(app.edit.content);
            });
        }
    });
</script>
</body>
</html>